body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
}

.center-container {
  text-align: center;
}

.button-container .bAdd,
.button-container .bReset {
  padding: 10px 20px;
  margin: 10px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 20px;
}

.bAdd {
  background-color: blue;
  color: white;
}

.bReset {
  background-color: red;
  color: white;
}

.Counter-container {
  width: 100px;
  height: 100px;
  margin: 25px auto;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  border: 2px solid black;
}

.counter {
  font-size: 48px;
  font-weight: bold;
  color: #333;
  margin: 0;
}

.message {
  opacity: 0;
  margin-top: 20px;
  font-size: 20px;
  color: green;
  font-weight: bold;
}

.message.show {
  opacity: 1;             
  visibility: visible;
}

.message.hide {
	opacity: 0;
	transition: opacity 1.2s ease-in;
}
