# Archivos de configuración local
/local.properties

# Carpetas de compilación
/.gradle/
/build/
/app/build/
/**/build/

# Archivos de Android Studio
.idea/
*.iml
*.ipr
*.iws

# Archivos del sistema
.DS_Store
Thumbs.db

# NDK y archivos nativos
.cxx/
.externalNativeBuild/

# Archivos generados
*.apk
*.ap_
*.dex
*.class

# Otros archivos no deseados
*.log
*.keystore
*.jks
*.hprof

# Configuración de entorno
.env

# Cache de gradle
.gradle/

# Capturas
captures/

# Node (si usas algún módulo con JS)
/node_modules/
