###############################################################################
# Archivos del sistema (Windows)
###############################################################################
**/Thumbs.db
**/ehthumbs.db
**/desktop.ini

###############################################################################
# JetBrains / IntelliJ / CLion
###############################################################################
**/.idea/
**/*.iml
**/cmake-build-*/

###############################################################################
# NetBeans (C / C++)
###############################################################################
**/nbproject/private/
**/nbproject/Makefile-*
**/nbproject/Package-*
**/nbproject/configurations.xml
**/nbactions.xml
**/nbbuild/
**/dist/
**/nbdist/

###############################################################################
# Archivos de compilación y binarios (C / C++)
###############################################################################
**/*.o
**/*.obj
**/*.exe
**/*.out
**/*.dll
**/*.so
**/*.a
**/*.lib
**/*.d
**/*.ilk
**/*.pdb
**/*.exp

###############################################################################
# CMake
###############################################################################
**/CMakeCache.txt
**/CMakeFiles/
**/Makefile
**/cmake_install.cmake

###############################################################################
# Archivos temporales y backups
###############################################################################
**/*~
**/*.tmp
**/*.bak
**/*.swp
**/*.swo

###############################################################################
# Archivos comprimidos
###############################################################################
**/*.zip
**/*.rar
**/*.7z
**/*.tar
**/*.tar.gz
**/*.tgz
