.p-admin-home {
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

  .sidebar {
    position: fixed;
    top: 80px;
    left: 0;
    width: 80px;
    height: calc(100% - 80px);
    background-color: white;
    border-right: 1px solid #eee;
    padding-top: 0.5rem;
    margin-top: 28px;

    button {
      border: none;
      background: none;
      text-align: center;
    }
  }

  .sidebar ul {
    list-style: none;
    padding: 0;
    text-align: center;
  }

  .sidebar li {
    padding: 1rem 0;
    font-size: 0.85rem;
    color: #999;
    cursor: pointer;
  }

  .sidebar li.active,
  .sidebar li:hover {
    color: #4d15f0;
    font-weight: bold;
  }

  .main-content {
    margin-left: 100px;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 60px;
  }


  h1 {
    font-size: 1.75rem;
    margin-bottom: 2rem;
  }

  .primary-button {
    display: block;
    width: 300px;
    max-width: 100%;
    margin-bottom: 1rem;
    padding: 1rem;
    background-color: #4d15f0;
    border: none;
    color: white;
    font-size: 1rem;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.2s;
  }

  .primary-button:hover {
    background-color: #3b0fd6;
  }

  .main-title {
    margin-top: -4rem;
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 2.5rem;
  }

  .button-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  .main-title.left {
    text-align: left;
    align-self: flex-start;
    margin-left: 0;
  }
}
