.p-home {
  .slogan {
    margin-top: 20px;
    padding: 20px;

    .title {
      font-size: 72px;
      color: #4d15f0;
      font-weight: bold;
    }

    .subtitle {
      font-size: 24px;
      color: #6a6a6a;
      margin-top: 16px;
    }
  }

  .search {
    display: flex;
    align-items: center;
    background: #fff;
    border-radius: 999px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);
    padding: 1.2rem 2rem;
    gap: 1.5rem;
    flex-wrap: wrap; 
    width: 100%;
    max-width: 1250px;
    margin: 0 auto;

    img {
      width: 24px;
      height: 24px;
      color: #ffffff;
    }

    input, select {
      padding: 12px;
      border-radius: 12px;
      border: 2px solid #ccc;
      min-width: 180px;
    }

    .text-item, .date-item, .number-item {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      position: relative;
      min-height: 90px;

      .label {
        margin-bottom: 5px;
        font-weight: 500;
        color: #333;
        font-size: 14px;
      }

      .field-error {
        color: red;
        font-size: 12px;
        background: none;
        border: none;
        position: relative;
        align-self: center;
        bottom: 0;
        left: 0;
        height: 20px; 
        margin-top: -8px;
        font-weight: bold;
      }
    }

    .submitter {
      padding: 12px 16px;
      background-color: #4d15f0;
      border: none;
      color: white;
      border-radius: 12px;
      cursor: pointer;
      font-size: 16px;
    }
  }

  .features {
    background-color: #ffffff;
    padding: 32px 96px;

    .content {
      display: flex;
      flex-direction: row;
      gap: 120px;
      align-items: center;

      .ilustration {
        width: 400px;
        max-width: 100%;
      }

      .detail {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 4px;

        p {
          font-size: 20px;
          text-align: justify;
          color: #6a6a6a;
        }

        .title {
          font-size: 36px;
          font-weight: bold;
          margin-bottom: 8px;
        }

        .ft-item {
          display: flex;
          flex-direction: row;
          align-items: center;
          gap: 12px;

          img {
            width: 36px;
            height: 36px;
            color:#6a6a6a;
          }

          .img-dollar {
            width: 52px;
            height: 52px;
            margin-left: -8px;
          }

          .p-dollar {
            margin-left: -8px;
          }
        }
      }
    }
  }
}
