.c-navbar {
  position: fixed;
  display: flex;
  justify-content: space-between;
  background-color: #ffffff;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 100;
  height: 108px;

  .logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
    padding: 18px;
    cursor: pointer;

    img {
      width: 80px;
      height: 80px;
      border-radius: 50%;
      background-color: #4d15f0;
    }

    span {
      font-size: 48px;
      font-weight: bold;
      margin-left: 4px;
      margin-top: -12px;
      color: #4d15f0;
    }
  }

  .options {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;

    button {
      background: none;
      border: none;
      font-size: 1.5rem;
      font-weight: 500;
      padding: 0rem 2rem;
      cursor: pointer;
      height: 100%;
      transition: background-color 0.2s;

      &:hover {
        background-color: #f5f5f5;
      }
    }

    .regular {
      height: 100%;
    }

    .client {
      position: relative;
      display: inline-block;
      height: 100%;

      .profile {
        display: flex;
        direction: row;
        gap: 12px;
        align-items: center;
        height: 100%;
        padding: 0 24px;

        .icon-profile {
          width: 40%;
          height: 40%;
          color: #4d15f0;
        }

        .name {
          color: #4d15f0;
        }

        .company-icon {
          width: 65%;
          height: 65%;
        }

        .admin-icon {
          width: 35%;
          height: 35%;
        }
      }

      &:hover {
        .menu-ddl {
          display: flex;
        }
      }
      
      .menu-ddl {
        position: absolute;
        top: 100%;
        width: 98%;
        left: 50%;
        transform: translateX(-50%);
        background-color: white;
        overflow: hidden;
        display: none; /* puedes cambiarlo a 'flex' según el estado */
        flex-direction: column;
        min-width: 150px; /* si prefieres 100% cámbialo */
        z-index: 100;
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.08); /* más suave y moderno */
        border: 2px solid rgba(0, 0, 0, 0.1);
        border-top: none;
        border-radius: 12px;

        button {
          all: unset;
          display: block;
          width: 100%;
          padding: 12px 12px;
          font-size: 1rem;
          font-weight: 500;
          color: #333;
          text-align: left;
          cursor: pointer;
          border-top: 1px solid rgba(0, 0, 0, 0.05);

          &:hover {
            background-color: #f5f5f5;
          }
        }
      }
    }
  }

  .auth-modal {
    .overlay {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.6);
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 999;
    }

    .content {
      background: white;
      width: 800px;
      max-width: 90%;
      height: 500px;
      display: flex;
      border-radius: 16px;
      overflow: hidden;
      position: relative;

      .closer {
        position: absolute;
        top: 15px;
        right: 20px;
        font-size: 20px;
        background: none;
        border: none;
        cursor: pointer;
      }

      .ad-side {
        width: 50%;
        background-color: #4d15f0;
        color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 32px;
        justify-content: center;

        .logo {
          &-icon {
            width: 160px;
            height: 160px;
            margin-bottom: -32px;
          }
          
          &-title {
            font-size: 32px;
            color: #ffffff;
            font-weight: bold;
          }
        }

        .illustration {
          width: 100%;
          margin-top: 16px;
        }
      }

      .form-side {
        width: 50%;
        padding: 32px;
        display: flex;
        flex-direction: column;
        gap: 16px;
        justify-content: center;

        a {
          color: #4d15f0;
          font-size: 16px;
          text-align: right;
        }

        .text-item {
          display: flex;
          flex-direction: column;
          gap: 4px;

          .label {
            display: flex;
            justify-content: space-between;
            font-size: 16px;
            color: #6a6a6a;
            font-weight: 600;
            text-align: left;
            align-items: center;

            .field-error {
              color: red;
              font-size: 12px;
              background: none;
              border: none;
              padding: 0;
              margin: 4px 0 0;
              display: inline;
              border-radius: 0;
              font-weight: bold;
            }
          }
        }

        .checkbox-item {
          display: flex;
          flex-direction: row;
          gap: 4px;
          border: 0;
          align-self: center;
          outline: none;
        }

        .row-wrapper {
          display: flex;
          flex-direction: row;
          gap: 8px;
        }

        .submitter {
          background-color: #4d15f0;
          color: white;
          border: none;
          padding: 12px;
          border-radius: 8px;
          font-size: 16px;
          cursor: pointer;
          margin-top: 16px;

          &:disabled {
            background-color: #bda8f9;
            cursor: not-allowed;
          }
        }

        .form-signin {
          display: flex;
          flex-direction: column;
          gap: 12px;

          input {
            padding: 8px;
            border-radius: 12px;
            border: 2px solid #ccc;
          }

          .title {
            font-size: 32px;
            color: #000000;
            font-weight: bold;
            margin-bottom: 16px;
          }
        }

        .form-signup {
          display: flex;
          flex-direction: column;
          gap: 8px;

          input {
            padding: 6px;
            border-radius: 12px;
            border: 2px solid #ccc;
          }

          .title {
            font-size: 24px;
            color: #4d15f0;
            font-weight: bold;
            margin-bottom: 4px;
          }
        }
      }
    }
  }
}
